{"openapi":"3.0.0","info":{"version":"1.0.0","title":"AVA REST API documentation v2","description":"<https://api.thatapp.io/docs/swagger.json>\n# Introduction\nWelcome to the [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer) API documentation v2. It adheres to the [JSON API](http://jsonapi.org) specifications:\n* Returns JSON-encoded responses (Content-Type: `application/json`),\n* Uses standard HTTP response codes\n* Uses authentication - **You can not use this API without registering at AVA platform to get the authentication credentials.**\n\n# Authentication\nWe use a standard [HTTP Basic Authentication](http://en.wikipedia.org/wiki/Basic_access_authentication) mechanism to authenticate each API call with the AVA.\n*   `{EMAIL}` - **email address** you use to login to the platform.\n*   `{APIKEY}` - a unique **API Key** generated for you found in the profile settings page.\n\n# Errors\nWe adhere to REST API HTTP status codes. Read more about them here <https://restfulapi.net/http-status-codes/>\n","termsOfService":"https://ava.thatapp.io"},"servers":[{"url":"https://api.thatapp.io/v2"}],"security":[{"basicAuth":[]}],"tags":[{"name":"auth clients","description":"To use an OAuth2 based Component in the platform it is required to register a client at the authorization server. Upon registration the authorization server issues the registered client an identifier (client ID) and a secret. These client credentials are used to create a client using the following API. Auth clients can be created on any level: tenant, contract or workspace which incapsulate each other (in order), i.e client created on tenant level is available to use for creating secrets in any workspace of the tenant.\n"},{"name":"auth secrets"},{"name":"contracts","description":"A Contract is a fundamental entity (scope) that reflects an agreement between a customer and the platform’s provider. The Contract scope can have an unlimited number of members, workspaces, and development teams. It also serves as a singular entity for the billing department against the consumed resources by all the integration flows. Every member of the Contract’s scope has a specific access level or role within the current Contract. The same user can have different roles in different Contracts within the Platform. Every Contract must have at least one Owner. The Owner’s Role has a predefined/default permissions’ set. It means this role cannot be deleted and the permissions’ set cannot be changed.\n"},{"name":"components"},{"name":"credentials"},{"name":"data samples"},{"name":"topics","description":"The Topic is a JSON schema to be used to communicate publisher and many subscribers.\n"},{"name":"runtime quota usages"},{"name":"quota usages"},{"name":"quota limits"},{"name":"scheduled executions"},{"name":"snapshots","description":"This group of API endpoints allows you to work with snapshots feature of the Platform. The feature enables taking snapshots for all steps in a Flow. Also, it allows you to get/create/edit/remove snapshots individually for steps.\n**Data model** every step in Flow can have associated persistent data. Step identifier is used as identifier of snapshot. Data may be anything serializable in JSON, except undefined.\n**Notice** snapshot is flow's runtime data. So it's forbidden to edit snapshots while flow is running.\n"},{"name":"sshkeys"},{"name":"flows"},{"name":"flow versions"},{"name":"flow drafts"},{"name":"logs"},{"name":"recipes"},{"name":"recipe deployments","description":"This group of API endpoints allows you to work with recipe deployments. \nRecipe deployment describes recipe activation process ans has information about which flows was created during recipe activation and what activation parameters was used.\n"},{"name":"resources"},{"name":"stats"},{"name":"teams"},{"name":"permissions"},{"name":"users"},{"name":"workspaces","description":"A Workspace is a space where every user can work on an integration project independently or in collaboration with other users. Each Workspace can have more than one member. All members of a Workspace have certain roles that define user permissions. To get all available roles, please execute the “Get the Contract’s roles” endpoint. There is one predefined role - Workspace Owner. This role gives the holder all the rights within the Workspace unit, it cannot be deleted and the permissions set cannot be changed. Each role is limited to the given Workspace only. The same user in the platform can have different roles in different Workspaces."}],"paths":{"/agents/vpn":{},"/agents/vpn/{vpn-agent_id}":{},"/agents/vpn/{vpn-agent_id}/config":{},"/auth-clients":{"get":{"tags":["auth clients"],"summary":"Lists all auth clients","description":"You need one of the `global.auth_clients.get`, `tenants.auth_clients.get`, `contracts.auth_clients.get` or `workspaces.auth_clients.get` permission to access this resource. Each permission allows to list auth clients in particular scope inclusively: `global.auth_clients.get` allows to list global clients, `tenants.auth_clients.get` allows to list global and tenant’s clients, `contracts.auth_clients.get` allows to list global, tenant’s and all tenant’s contracts clients, `workspaces.auth_clients.get` allows to list all global, tenant’s, contracts’ and workspaces’ clients.\n","parameters":[{"in":"query","name":"filter[component]","description":"Filter the auth clients only for specific component. Must be identifier of component","schema":{"type":"string"}},{"in":"query","name":"workspace_id","description":"Show auth clients available in the given workpspace (including contract’s, tenant’s and global auth-clients).  Only one of `workspace_id`, `contract_id`, `tenant_id` can be specified at time. If none these of parameters is specified only global clients will be returned.","schema":{"type":"string"}},{"in":"query","name":"contract_id","description":"Show Auth Clients available in the given contract (including tenant’s and global auth-clients).","schema":{"type":"string"}},{"in":"query","name":"tenant_id","description":"Show Auth Clients available in the given tenant and global scope.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"array","items":{"required":["id","type","links","attributes","relationships"],"properties":{"id":{"type":"string","readOnly":true,"example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value: `auth-client`\n","enum":["auth-client"]},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/auth-clients/5b4f337bff4304610483ba67"}}},"attributes":{"type":"object","required":["name","type","credentials"],"properties":{"name":{"type":"string","description":"Name of the auth client","example":"Auth client name"},"type":{"type":"string","description":"Auth client type","enum":["oauth2","oauth2_instagram","basic","api_key","noauth"]},"credentials":{"type":"object","oneOf":[{"type":"object","description":"Only for type of auth client `oauth2`","required":["client_id","client_secret","refresh_token_uri","token_uri","auth_uri"],"properties":{"client_id":{"type":"string","description":"Client identifier of auth client","example":"327193566714-99k85u8op9i10upjf8raus0aqjmtj.apps.googleusercontent.com"},"client_secret":{"type":"string","description":"Client secret of auth client","example":"<client-secret>"},"refresh_token_uri":{"type":"string","description":"Auth client refresh token URI","example":"https://www.googleapis.com/oauth2/v4/token"},"token_expires_in":{"type":"integer","description":"The value that will be set as `expires_in` in auth secret linked to the auth client after auth secret refresh, if auth secret does not contain it.","default":3600},"token_uri":{"type":"string","description":"Auth client token URI","example":"https://www.googleapis.com/oauth2/v4/token"},"auth_uri":{"type":"string","description":"Auth client auth URI","example":"https://www.googleapis.com/oauth2/v2/auth"}}},{"allOf":[{"type":"object","description":"Only for type of auth client `oauth2`","required":["client_id","client_secret","refresh_token_uri","token_uri","auth_uri"],"properties":{"client_id":{"type":"string","description":"Client identifier of auth client","example":"327193566714-99k85u8op9i10upjf8raus0aqjmtj.apps.googleusercontent.com"},"client_secret":{"type":"string","description":"Client secret of auth client","example":"<client-secret>"},"refresh_token_uri":{"type":"string","description":"Auth client refresh token URI","example":"https://www.googleapis.com/oauth2/v4/token"},"token_expires_in":{"type":"integer","description":"The value that will be set as `expires_in` in auth secret linked to the auth client after auth secret refresh, if auth secret does not contain it.","default":3600},"token_uri":{"type":"string","description":"Auth client token URI","example":"https://www.googleapis.com/oauth2/v4/token"},"auth_uri":{"type":"string","description":"Auth client auth URI","example":"https://www.googleapis.com/oauth2/v2/auth"}}},{"type":"object","description":"Only for type of auth client `oauth2_instagram`","required":["exchange_token_uri"],"properties":{"exchange_token_uri":{"type":"string","description":"Auth client exchange token URI","example":"https://www.googleapis.com/oauth2/v4/exchange-token"}}}]},{"type":"object","example":"{ \"login\":\"somelogin\", \"key\":\"somekey\"}"}]}}},"relationships":{"type":"object","oneOf":[{"type":"object","required":["components","workspace"],"properties":{"components":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Component identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `component`","enum":["component"]}}}}}},"workspace":{"type":"object","required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Workspace identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `workspace`","enum":["workspace"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/workspaces/5b4f337bff4304610483ba67"}}}}}}},{"type":"object","required":["components"],"properties":{"components":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Component identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `component`","enum":["component"]}}}}}}}},{"type":"object","required":["components","contract"],"properties":{"components":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Component identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `component`","enum":["component"]}}}}}},"contract":{"type":"object","required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Contract identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `contract`","enum":["contract"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/contracts/5b4f337bff4304610483ba67"}}}}}}},{"type":"object","required":["components","tenant"],"properties":{"components":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Component identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `component`","enum":["component"]}}}}}},"tenant":{"type":"object","required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Tenant identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `tenant`","enum":["tenant"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/tenants/5b4f337bff4304610483ba67"}}}}}}}]}}}},"meta":{"type":"object","example":"{}"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["status","title","detail"],"properties":{"status":{"type":"integer","example":401},"title":{"type":"string","example":"Error"},"detail":{"type":"string","example":"No authorization header was provided."}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["detail","status","code","title","meta"],"properties":{"status":{"type":"integer","example":403},"title":{"type":"string","example":"Unauthorized"},"detail":{"type":"string","example":"You need a permission to access this resource."},"code":{"type":"integer","example":403},"meta":{"type":"object","example":"{}"}}}}}}}}}}},"post":{"tags":["auth clients"],"summary":"Creates an auth client","description":"You need one of the `global.auth_clients.get`, `tenants.auth_clients.get`, `contracts.auth_clients.get` or `workspaces.auth_clients.get` permission to access this resource. Scope where client is created is controlled by corresponding permission and relationship: `workspace`, `contract` or `tenant`. No relationship means that auth-client will be created in the global scope.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"required":["id","type","links","attributes","relationships"],"properties":{"id":{"type":"string","readOnly":true,"example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value: `auth-client`\n","enum":["auth-client"]},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/auth-clients/5b4f337bff4304610483ba67"}}},"attributes":{"type":"object","required":["name","type","credentials"],"properties":{"name":{"type":"string","description":"Name of the auth client","example":"Auth client name"},"type":{"type":"string","description":"Auth client type","enum":["oauth2","oauth2_instagram","basic","api_key","noauth"]},"credentials":{"type":"object","oneOf":[{"type":"object","description":"Only for type of auth client `oauth2`","required":["client_id","client_secret","refresh_token_uri","token_uri","auth_uri"],"properties":{"client_id":{"type":"string","description":"Client identifier of auth client","example":"327193566714-99k85u8op9i10upjf8raus0aqjmtj.apps.googleusercontent.com"},"client_secret":{"type":"string","description":"Client secret of auth client","example":"<client-secret>"},"refresh_token_uri":{"type":"string","description":"Auth client refresh token URI","example":"https://www.googleapis.com/oauth2/v4/token"},"token_expires_in":{"type":"integer","description":"The value that will be set as `expires_in` in auth secret linked to the auth client after auth secret refresh, if auth secret does not contain it.","default":3600},"token_uri":{"type":"string","description":"Auth client token URI","example":"https://www.googleapis.com/oauth2/v4/token"},"auth_uri":{"type":"string","description":"Auth client auth URI","example":"https://www.googleapis.com/oauth2/v2/auth"}}},{"allOf":[{"type":"object","description":"Only for type of auth client `oauth2`","required":["client_id","client_secret","refresh_token_uri","token_uri","auth_uri"],"properties":{"client_id":{"type":"string","description":"Client identifier of auth client","example":"327193566714-99k85u8op9i10upjf8raus0aqjmtj.apps.googleusercontent.com"},"client_secret":{"type":"string","description":"Client secret of auth client","example":"<client-secret>"},"refresh_token_uri":{"type":"string","description":"Auth client refresh token URI","example":"https://www.googleapis.com/oauth2/v4/token"},"token_expires_in":{"type":"integer","description":"The value that will be set as `expires_in` in auth secret linked to the auth client after auth secret refresh, if auth secret does not contain it.","default":3600},"token_uri":{"type":"string","description":"Auth client token URI","example":"https://www.googleapis.com/oauth2/v4/token"},"auth_uri":{"type":"string","description":"Auth client auth URI","example":"https://www.googleapis.com/oauth2/v2/auth"}}},{"type":"object","description":"Only for type of auth client `oauth2_instagram`","required":["exchange_token_uri"],"properties":{"exchange_token_uri":{"type":"string","description":"Auth client exchange token URI","example":"https://www.googleapis.com/oauth2/v4/exchange-token"}}}]},{"type":"object","example":"{ \"login\":\"somelogin\", \"key\":\"somekey\"}"}]}}},"relationships":{"type":"object","oneOf":[{"type":"object","required":["components","workspace"],"properties":{"components":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Component identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `component`","enum":["component"]}}}}}},"workspace":{"type":"object","required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Workspace identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `workspace`","enum":["workspace"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/workspaces/5b4f337bff4304610483ba67"}}}}}}},{"type":"object","required":["components"],"properties":{"components":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Component identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `component`","enum":["component"]}}}}}}}},{"type":"object","required":["components","contract"],"properties":{"components":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Component identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `component`","enum":["component"]}}}}}},"contract":{"type":"object","required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Contract identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `contract`","enum":["contract"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/contracts/5b4f337bff4304610483ba67"}}}}}}},{"type":"object","required":["components","tenant"],"properties":{"components":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Component identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `component`","enum":["component"]}}}}}},"tenant":{"type":"object","required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Tenant identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `tenant`","enum":["tenant"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/tenants/5b4f337bff4304610483ba67"}}}}}}}]}}}}}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"required":["id","type","links","attributes","relationships"],"properties":{"id":{"type":"string","readOnly":true,"example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value: `auth-client`\n","enum":["auth-client"]},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/auth-clients/5b4f337bff4304610483ba67"}}},"attributes":{"type":"object","required":["name","type","credentials"],"properties":{"name":{"type":"string","description":"Name of the auth client","example":"Auth client name"},"type":{"type":"string","description":"Auth client type","enum":["oauth2","oauth2_instagram","basic","api_key","noauth"]},"credentials":{"type":"object","oneOf":[{"type":"object","description":"Only for type of auth client `oauth2`","required":["client_id","client_secret","refresh_token_uri","token_uri","auth_uri"],"properties":{"client_id":{"type":"string","description":"Client identifier of auth client","example":"327193566714-99k85u8op9i10upjf8raus0aqjmtj.apps.googleusercontent.com"},"client_secret":{"type":"string","description":"Client secret of auth client","example":"<client-secret>"},"refresh_token_uri":{"type":"string","description":"Auth client refresh token URI","example":"https://www.googleapis.com/oauth2/v4/token"},"token_expires_in":{"type":"integer","description":"The value that will be set as `expires_in` in auth secret linked to the auth client after auth secret refresh, if auth secret does not contain it.","default":3600},"token_uri":{"type":"string","description":"Auth client token URI","example":"https://www.googleapis.com/oauth2/v4/token"},"auth_uri":{"type":"string","description":"Auth client auth URI","example":"https://www.googleapis.com/oauth2/v2/auth"}}},{"allOf":[{"type":"object","description":"Only for type of auth client `oauth2`","required":["client_id","client_secret","refresh_token_uri","token_uri","auth_uri"],"properties":{"client_id":{"type":"string","description":"Client identifier of auth client","example":"327193566714-99k85u8op9i10upjf8raus0aqjmtj.apps.googleusercontent.com"},"client_secret":{"type":"string","description":"Client secret of auth client","example":"<client-secret>"},"refresh_token_uri":{"type":"string","description":"Auth client refresh token URI","example":"https://www.googleapis.com/oauth2/v4/token"},"token_expires_in":{"type":"integer","description":"The value that will be set as `expires_in` in auth secret linked to the auth client after auth secret refresh, if auth secret does not contain it.","default":3600},"token_uri":{"type":"string","description":"Auth client token URI","example":"https://www.googleapis.com/oauth2/v4/token"},"auth_uri":{"type":"string","description":"Auth client auth URI","example":"https://www.googleapis.com/oauth2/v2/auth"}}},{"type":"object","description":"Only for type of auth client `oauth2_instagram`","required":["exchange_token_uri"],"properties":{"exchange_token_uri":{"type":"string","description":"Auth client exchange token URI","example":"https://www.googleapis.com/oauth2/v4/exchange-token"}}}]},{"type":"object","example":"{ \"login\":\"somelogin\", \"key\":\"somekey\"}"}]}}},"relationships":{"type":"object","oneOf":[{"type":"object","required":["components","workspace"],"properties":{"components":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Component identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `component`","enum":["component"]}}}}}},"workspace":{"type":"object","required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Workspace identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `workspace`","enum":["workspace"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/workspaces/5b4f337bff4304610483ba67"}}}}}}},{"type":"object","required":["components"],"properties":{"components":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Component identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `component`","enum":["component"]}}}}}}}},{"type":"object","required":["components","contract"],"properties":{"components":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Component identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `component`","enum":["component"]}}}}}},"contract":{"type":"object","required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Contract identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `contract`","enum":["contract"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/contracts/5b4f337bff4304610483ba67"}}}}}}},{"type":"object","required":["components","tenant"],"properties":{"components":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Component identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `component`","enum":["component"]}}}}}},"tenant":{"type":"object","required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Tenant identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `tenant`","enum":["tenant"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/tenants/5b4f337bff4304610483ba67"}}}}}}}]}}},"meta":{"type":"object","example":"{}"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["status","title","detail"],"properties":{"status":{"type":"integer","example":401},"title":{"type":"string","example":"Error"},"detail":{"type":"string","example":"No authorization header was provided."}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["detail","status","code","title","meta"],"properties":{"status":{"type":"integer","example":403},"title":{"type":"string","example":"Unauthorized"},"detail":{"type":"string","example":"You need a permission to access this resource."},"code":{"type":"integer","example":403},"meta":{"type":"object","example":"{}"}}}}}}}}}}}},"/auth-clients/{auth-client_id}":{"get":{"tags":["auth clients"],"summary":"Returns the specified auth client.","description":"You need one of the `global.auth_clients.get`, `tenants.auth_clients.get`, `contracts.auth_clients.get` or `workspaces.auth_clients.get` permission to access this resource. Each permission allows to get auth client in particular scope inclusively: `global.auth_clients.get` allows to get global client, `tenants.auth_clients.get` allows to get global and tenant’s clients, `contracts.auth_clients.get` allows to get global, tenant’s and all tenant’s contracts clients, `workspaces.auth_clients.get` allows to get global, tenant’s, contracts’ and workspaces’ clients. `auth_clients.get` permissions are also used to authorize access to auth client’s credentials field: one can see auth client’s credential only if client’s scope and permission’s scope match, i.e. credentials of tenant’s auth client are visible for users only with `tenants.auth_clients.get` permissions, though tenant auth client itself is visible for users with `workspaces.auth_clients.get`.\nTo specify scope of request one of `workspace_id`, `contract_id` or `tenant_id` query parameters is used. For example, tenant auth client can be retrieved by id if user has `workspaces.auth_clients.get` permission in one of the tenant’s workspaces, so to specify those workspace `workspace_id` query parameter is used, without scope parameter you can get only global client. In case if the user tries to get not a global client and doesn’t specify the query parameter - such request will be rejected, as permission can’t be checked.\n","parameters":[{"in":"path","name":"auth-client_id","description":"Auth client identifier","required":true,"schema":{"type":"string"}},{"in":"query","name":"workspace_id","description":"Show auth clients available in the given workpspace (including contract’s, tenant’s and global auth-clients).  Only one of `workspace_id`, `contract_id`, `tenant_id` can be specified at time. If none these of parameters is specified only global clients will be returned.","schema":{"type":"string"}},{"in":"query","name":"contract_id","description":"Show Auth Clients available in the given contract (including tenant’s and global auth-clients).","schema":{"type":"string"}},{"in":"query","name":"tenant_id","description":"Show Auth Clients available in the given tenant and global scope.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"required":["id","type","links","attributes","relationships"],"properties":{"id":{"type":"string","readOnly":true,"example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value: `auth-client`\n","enum":["auth-client"]},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/auth-clients/5b4f337bff4304610483ba67"}}},"attributes":{"type":"object","required":["name","type","credentials"],"properties":{"name":{"type":"string","description":"Name of the auth client","example":"Auth client name"},"type":{"type":"string","description":"Auth client type","enum":["oauth2","oauth2_instagram","basic","api_key","noauth"]},"credentials":{"type":"object","oneOf":[{"type":"object","description":"Only for type of auth client `oauth2`","required":["client_id","client_secret","refresh_token_uri","token_uri","auth_uri"],"properties":{"client_id":{"type":"string","description":"Client identifier of auth client","example":"327193566714-99k85u8op9i10upjf8raus0aqjmtj.apps.googleusercontent.com"},"client_secret":{"type":"string","description":"Client secret of auth client","example":"<client-secret>"},"refresh_token_uri":{"type":"string","description":"Auth client refresh token URI","example":"https://www.googleapis.com/oauth2/v4/token"},"token_expires_in":{"type":"integer","description":"The value that will be set as `expires_in` in auth secret linked to the auth client after auth secret refresh, if auth secret does not contain it.","default":3600},"token_uri":{"type":"string","description":"Auth client token URI","example":"https://www.googleapis.com/oauth2/v4/token"},"auth_uri":{"type":"string","description":"Auth client auth URI","example":"https://www.googleapis.com/oauth2/v2/auth"}}},{"allOf":[{"type":"object","description":"Only for type of auth client `oauth2`","required":["client_id","client_secret","refresh_token_uri","token_uri","auth_uri"],"properties":{"client_id":{"type":"string","description":"Client identifier of auth client","example":"327193566714-99k85u8op9i10upjf8raus0aqjmtj.apps.googleusercontent.com"},"client_secret":{"type":"string","description":"Client secret of auth client","example":"<client-secret>"},"refresh_token_uri":{"type":"string","description":"Auth client refresh token URI","example":"https://www.googleapis.com/oauth2/v4/token"},"token_expires_in":{"type":"integer","description":"The value that will be set as `expires_in` in auth secret linked to the auth client after auth secret refresh, if auth secret does not contain it.","default":3600},"token_uri":{"type":"string","description":"Auth client token URI","example":"https://www.googleapis.com/oauth2/v4/token"},"auth_uri":{"type":"string","description":"Auth client auth URI","example":"https://www.googleapis.com/oauth2/v2/auth"}}},{"type":"object","description":"Only for type of auth client `oauth2_instagram`","required":["exchange_token_uri"],"properties":{"exchange_token_uri":{"type":"string","description":"Auth client exchange token URI","example":"https://www.googleapis.com/oauth2/v4/exchange-token"}}}]},{"type":"object","example":"{ \"login\":\"somelogin\", \"key\":\"somekey\"}"}]}}},"relationships":{"type":"object","oneOf":[{"type":"object","required":["components","workspace"],"properties":{"components":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Component identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `component`","enum":["component"]}}}}}},"workspace":{"type":"object","required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Workspace identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `workspace`","enum":["workspace"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/workspaces/5b4f337bff4304610483ba67"}}}}}}},{"type":"object","required":["components"],"properties":{"components":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Component identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `component`","enum":["component"]}}}}}}}},{"type":"object","required":["components","contract"],"properties":{"components":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Component identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `component`","enum":["component"]}}}}}},"contract":{"type":"object","required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Contract identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `contract`","enum":["contract"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/contracts/5b4f337bff4304610483ba67"}}}}}}},{"type":"object","required":["components","tenant"],"properties":{"components":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Component identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `component`","enum":["component"]}}}}}},"tenant":{"type":"object","required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Tenant identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `tenant`","enum":["tenant"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/tenants/5b4f337bff4304610483ba67"}}}}}}}]}}},"meta":{"type":"object","example":"{}"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["status","title","detail"],"properties":{"status":{"type":"integer","example":401},"title":{"type":"string","example":"Error"},"detail":{"type":"string","example":"No authorization header was provided."}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["detail","status","code","title","meta"],"properties":{"status":{"type":"integer","example":403},"title":{"type":"string","example":"Unauthorized"},"detail":{"type":"string","example":"You need a permission to access this resource."},"code":{"type":"integer","example":403},"meta":{"type":"object","example":"{}"}}}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["detail","status","code","title","meta","source"],"properties":{"status":{"type":"integer","example":404},"title":{"type":"string","example":"Resource not found"},"detail":{"type":"string","example":"The resource is not found."},"code":{"type":"integer","example":404},"meta":{"type":"object","example":"{}"},"source":{"type":"object","required":["parameter"],"properties":{"parameter":{"type":"object","required":["id"],"properties":{"id":{"type":"string","example":"resource_id"}}}}}}}}}}}}}}},"patch":{"tags":["auth clients"],"summary":"Update the specified auth client","description":"You have to be a member with appropriate permission to access this resource. This resource allows you to update the auth client. If the auth client with type `oauth2` then you can update `name`, `client_secret`, `token_expires_in` and linked components, otherwise if the type is other, then you can put in credentials any data that you want and add components which can use this auth client.\n","parameters":[{"in":"path","name":"auth-client_id","description":"Auth client identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"object","required":["id","type","attributes","relationships"],"properties":{"id":{"type":"string","description":"Auth client identifier. It has to match the identifier specified in the path.","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value `auth-client`.","enum":["auth-client"]},"attributes":{"type":"object","properties":{"name":{"type":"string","description":"Auth client name","example":"Auth client name"},"credentials":{"type":"object","oneOf":[{"type":"object","properties":{"client_secret":{"type":"string","description":"Client secret of auth client","example":"<client-secret>"},"token_expires_in":{"type":"integer","description":"The value that will be set as `expires_in` in auth secret linked to the auth client after auth secret refresh, if auth secret does not contain it.","default":3600}}},{"type":"object","example":"{ \"login\":\"somelogin\", \"key\":\"somekey\"}"}]}}},"relationships":{"type":"object","required":["components"],"properties":{"components":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Component identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `component`","enum":["component"]}}}}}}}}}}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"required":["id","type","links","attributes","relationships"],"properties":{"id":{"type":"string","readOnly":true,"example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value: `auth-client`\n","enum":["auth-client"]},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/auth-clients/5b4f337bff4304610483ba67"}}},"attributes":{"type":"object","required":["name","type","credentials"],"properties":{"name":{"type":"string","description":"Name of the auth client","example":"Auth client name"},"type":{"type":"string","description":"Auth client type","enum":["oauth2","oauth2_instagram","basic","api_key","noauth"]},"credentials":{"type":"object","oneOf":[{"type":"object","description":"Only for type of auth client `oauth2`","required":["client_id","client_secret","refresh_token_uri","token_uri","auth_uri"],"properties":{"client_id":{"type":"string","description":"Client identifier of auth client","example":"327193566714-99k85u8op9i10upjf8raus0aqjmtj.apps.googleusercontent.com"},"client_secret":{"type":"string","description":"Client secret of auth client","example":"<client-secret>"},"refresh_token_uri":{"type":"string","description":"Auth client refresh token URI","example":"https://www.googleapis.com/oauth2/v4/token"},"token_expires_in":{"type":"integer","description":"The value that will be set as `expires_in` in auth secret linked to the auth client after auth secret refresh, if auth secret does not contain it.","default":3600},"token_uri":{"type":"string","description":"Auth client token URI","example":"https://www.googleapis.com/oauth2/v4/token"},"auth_uri":{"type":"string","description":"Auth client auth URI","example":"https://www.googleapis.com/oauth2/v2/auth"}}},{"allOf":[{"type":"object","description":"Only for type of auth client `oauth2`","required":["client_id","client_secret","refresh_token_uri","token_uri","auth_uri"],"properties":{"client_id":{"type":"string","description":"Client identifier of auth client","example":"327193566714-99k85u8op9i10upjf8raus0aqjmtj.apps.googleusercontent.com"},"client_secret":{"type":"string","description":"Client secret of auth client","example":"<client-secret>"},"refresh_token_uri":{"type":"string","description":"Auth client refresh token URI","example":"https://www.googleapis.com/oauth2/v4/token"},"token_expires_in":{"type":"integer","description":"The value that will be set as `expires_in` in auth secret linked to the auth client after auth secret refresh, if auth secret does not contain it.","default":3600},"token_uri":{"type":"string","description":"Auth client token URI","example":"https://www.googleapis.com/oauth2/v4/token"},"auth_uri":{"type":"string","description":"Auth client auth URI","example":"https://www.googleapis.com/oauth2/v2/auth"}}},{"type":"object","description":"Only for type of auth client `oauth2_instagram`","required":["exchange_token_uri"],"properties":{"exchange_token_uri":{"type":"string","description":"Auth client exchange token URI","example":"https://www.googleapis.com/oauth2/v4/exchange-token"}}}]},{"type":"object","example":"{ \"login\":\"somelogin\", \"key\":\"somekey\"}"}]}}},"relationships":{"type":"object","oneOf":[{"type":"object","required":["components","workspace"],"properties":{"components":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Component identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `component`","enum":["component"]}}}}}},"workspace":{"type":"object","required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Workspace identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `workspace`","enum":["workspace"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/workspaces/5b4f337bff4304610483ba67"}}}}}}},{"type":"object","required":["components"],"properties":{"components":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Component identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `component`","enum":["component"]}}}}}}}},{"type":"object","required":["components","contract"],"properties":{"components":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Component identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `component`","enum":["component"]}}}}}},"contract":{"type":"object","required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Contract identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `contract`","enum":["contract"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/contracts/5b4f337bff4304610483ba67"}}}}}}},{"type":"object","required":["components","tenant"],"properties":{"components":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Component identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `component`","enum":["component"]}}}}}},"tenant":{"type":"object","required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","description":"Tenant identifier","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value is `tenant`","enum":["tenant"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/tenants/5b4f337bff4304610483ba67"}}}}}}}]}}},"meta":{"type":"object","example":"{}"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["status","title","detail"],"properties":{"status":{"type":"integer","example":401},"title":{"type":"string","example":"Error"},"detail":{"type":"string","example":"No authorization header was provided."}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["detail","status","code","title","meta"],"properties":{"status":{"type":"integer","example":403},"title":{"type":"string","example":"Unauthorized"},"detail":{"type":"string","example":"You need a permission to access this resource."},"code":{"type":"integer","example":403},"meta":{"type":"object","example":"{}"}}}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["detail","status","code","title","meta","source"],"properties":{"status":{"type":"integer","example":404},"title":{"type":"string","example":"Resource not found"},"detail":{"type":"string","example":"The resource is not found."},"code":{"type":"integer","example":404},"meta":{"type":"object","example":"{}"},"source":{"type":"object","required":["parameter"],"properties":{"parameter":{"type":"object","required":["id"],"properties":{"id":{"type":"string","example":"resource_id"}}}}}}}}}}}}}}},"delete":{"tags":["auth clients"],"summary":"Remove the specified auth client.","description":"You have to be a member with appropriate permission to access this resource.\n","parameters":[{"in":"path","name":"auth-client_id","description":"Auth client identifier","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content","content":{"application/json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["status","title","detail"],"properties":{"status":{"type":"integer","example":401},"title":{"type":"string","example":"Error"},"detail":{"type":"string","example":"No authorization header was provided."}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["detail","status","code","title","meta"],"properties":{"status":{"type":"integer","example":403},"title":{"type":"string","example":"Unauthorized"},"detail":{"type":"string","example":"You need a permission to access this resource."},"code":{"type":"integer","example":403},"meta":{"type":"object","example":"{}"}}}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["detail","status","code","title","meta","source"],"properties":{"status":{"type":"integer","example":404},"title":{"type":"string","example":"Resource not found"},"detail":{"type":"string","example":"The resource is not found."},"code":{"type":"integer","example":404},"meta":{"type":"object","example":"{}"},"source":{"type":"object","required":["parameter"],"properties":{"parameter":{"type":"object","required":["id"],"properties":{"id":{"type":"string","example":"resource_id"}}}}}}}}}}}}}}}},"/workspaces/{workspace_id}/secrets":{"get":{"tags":["auth secrets"],"summary":"Lists all auth secrets of the specified workspace","description":"You need `workspaces.auth_secret.get` permission to access this resource","parameters":[{"in":"path","name":"workspace_id","description":"Workspace identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"array","items":{"required":["id","type","links","attributes","relationships"],"properties":{"id":{"type":"string","readOnly":true,"example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value: `auth-secret`\n","enum":["auth-secret"]},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/workspaces/5b4f337bff4304610483ba67/secrets/5b4f337bff4304610483ba67"}}},"attributes":{"type":"object","required":["name","state","credentials"],"properties":{"name":{"type":"string","description":"Name of the auth secret","example":"Secret name"},"state":{"type":"string","description":"Auth secret state","enum":["ready","error"]},"credentials":{"type":"object","oneOf":[{"type":"object","required":["access_token"],"properties":{"access_token":{"type":"string","description":"Auth secret access token","example":"<google-access-token>"},"refresh_token":{"type":"string","description":"Auth secret refresh token","example":"<google-refresh-token>"},"expires_in":{"type":"integer","description":"Auth secret expired period. If not specified and `auth-client` is `oauth2` then the value will be taken from `token_expires_in` of linked `auth-client`. The value is set in seconds.","example":60},"additional_params":{"type":"string","description":"Auth secret additional parameters","example":"access_type:offline,prompt:consent"},"scope":{"type":"string","description":"Auth secret scope","example":"https://www.googleapis.com/auth/spreadsheets"},"fields":{"type":"object","description":"If component has OAuthFieldView in component.json you can define additional fields in auth-secret for storing data","properties":{"base_url":{"type":"string","example":"https://example.com"}}}}},{"type":"object","example":"{ \"login\":\"somelogin\", \"key\":\"somekey\"}"}]},"type":{"type":"string","readOnly":true,"example":"oauth2"},"error":{"type":"string","description":"Auth secret error","example":"Auth secret refreshing error"}}},"relationships":{"type":"object","required":["workspace","user","auth_client"],"properties":{"workspace":{"type":"object","readOnly":true,"required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["workspace"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/workspaces/5b4f337bff4304610483ba67"}}}}},"user":{"type":"object","readOnly":true,"required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["user"]}}},"links":{"type":"object","required":["self"],"properties":{"self":{"type":"string","example":"/v2/users/5b4f337bff4304610483ba67"}}}}},"auth_client":{"type":"object","required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["auth-client"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/tenants/5b4f337bff4304610483ba67/auth-clients/5b4f337bff4304610483ba67"}}}}}}}}}},"meta":{"type":"object","example":"{}"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["status","title","detail"],"properties":{"status":{"type":"integer","example":401},"title":{"type":"string","example":"Error"},"detail":{"type":"string","example":"No authorization header was provided."}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["detail","status","code","title","meta"],"properties":{"status":{"type":"integer","example":403},"title":{"type":"string","example":"Unauthorized"},"detail":{"type":"string","example":"You need a permission to access this resource."},"code":{"type":"integer","example":403},"meta":{"type":"object","example":"{}"}}}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["detail","status","code","title","meta","source"],"properties":{"status":{"type":"integer","example":404},"title":{"type":"string","example":"Resource not found"},"detail":{"type":"string","example":"The resource is not found."},"code":{"type":"integer","example":404},"meta":{"type":"object","example":"{}"},"source":{"type":"object","required":["parameter"],"properties":{"parameter":{"type":"object","required":["id"],"properties":{"id":{"type":"string","example":"resource_id"}}}}}}}}}}}}}}},"post":{"tags":["auth secrets"],"summary":"Creates an auth secret","description":"You need `workspaces.auth_secret.create` permission to access this resource. If related auth client has type `oauth2` then `credentials` object must contain properties `access_token`, `refresh_token`, otherwise if the type is other, then you can put in `credentials` any data that you want.\n","parameters":[{"in":"path","name":"workspace_id","description":"Workspace identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"required":["id","type","links","attributes","relationships"],"properties":{"id":{"type":"string","readOnly":true,"example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value: `auth-secret`\n","enum":["auth-secret"]},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/workspaces/5b4f337bff4304610483ba67/secrets/5b4f337bff4304610483ba67"}}},"attributes":{"type":"object","required":["name","state","credentials"],"properties":{"name":{"type":"string","description":"Name of the auth secret","example":"Secret name"},"state":{"type":"string","description":"Auth secret state","enum":["ready","error"]},"credentials":{"type":"object","oneOf":[{"type":"object","required":["access_token"],"properties":{"access_token":{"type":"string","description":"Auth secret access token","example":"<google-access-token>"},"refresh_token":{"type":"string","description":"Auth secret refresh token","example":"<google-refresh-token>"},"expires_in":{"type":"integer","description":"Auth secret expired period. If not specified and `auth-client` is `oauth2` then the value will be taken from `token_expires_in` of linked `auth-client`. The value is set in seconds.","example":60},"additional_params":{"type":"string","description":"Auth secret additional parameters","example":"access_type:offline,prompt:consent"},"scope":{"type":"string","description":"Auth secret scope","example":"https://www.googleapis.com/auth/spreadsheets"},"fields":{"type":"object","description":"If component has OAuthFieldView in component.json you can define additional fields in auth-secret for storing data","properties":{"base_url":{"type":"string","example":"https://example.com"}}}}},{"type":"object","example":"{ \"login\":\"somelogin\", \"key\":\"somekey\"}"}]},"type":{"type":"string","readOnly":true,"example":"oauth2"},"error":{"type":"string","description":"Auth secret error","example":"Auth secret refreshing error"}}},"relationships":{"type":"object","required":["workspace","user","auth_client"],"properties":{"workspace":{"type":"object","readOnly":true,"required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["workspace"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/workspaces/5b4f337bff4304610483ba67"}}}}},"user":{"type":"object","readOnly":true,"required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["user"]}}},"links":{"type":"object","required":["self"],"properties":{"self":{"type":"string","example":"/v2/users/5b4f337bff4304610483ba67"}}}}},"auth_client":{"type":"object","required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["auth-client"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/tenants/5b4f337bff4304610483ba67/auth-clients/5b4f337bff4304610483ba67"}}}}}}}}}}}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"required":["id","type","links","attributes","relationships"],"properties":{"id":{"type":"string","readOnly":true,"example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value: `auth-secret`\n","enum":["auth-secret"]},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/workspaces/5b4f337bff4304610483ba67/secrets/5b4f337bff4304610483ba67"}}},"attributes":{"type":"object","required":["name","state","credentials"],"properties":{"name":{"type":"string","description":"Name of the auth secret","example":"Secret name"},"state":{"type":"string","description":"Auth secret state","enum":["ready","error"]},"credentials":{"type":"object","oneOf":[{"type":"object","required":["access_token"],"properties":{"access_token":{"type":"string","description":"Auth secret access token","example":"<google-access-token>"},"refresh_token":{"type":"string","description":"Auth secret refresh token","example":"<google-refresh-token>"},"expires_in":{"type":"integer","description":"Auth secret expired period. If not specified and `auth-client` is `oauth2` then the value will be taken from `token_expires_in` of linked `auth-client`. The value is set in seconds.","example":60},"additional_params":{"type":"string","description":"Auth secret additional parameters","example":"access_type:offline,prompt:consent"},"scope":{"type":"string","description":"Auth secret scope","example":"https://www.googleapis.com/auth/spreadsheets"},"fields":{"type":"object","description":"If component has OAuthFieldView in component.json you can define additional fields in auth-secret for storing data","properties":{"base_url":{"type":"string","example":"https://example.com"}}}}},{"type":"object","example":"{ \"login\":\"somelogin\", \"key\":\"somekey\"}"}]},"type":{"type":"string","readOnly":true,"example":"oauth2"},"error":{"type":"string","description":"Auth secret error","example":"Auth secret refreshing error"}}},"relationships":{"type":"object","required":["workspace","user","auth_client"],"properties":{"workspace":{"type":"object","readOnly":true,"required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["workspace"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/workspaces/5b4f337bff4304610483ba67"}}}}},"user":{"type":"object","readOnly":true,"required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["user"]}}},"links":{"type":"object","required":["self"],"properties":{"self":{"type":"string","example":"/v2/users/5b4f337bff4304610483ba67"}}}}},"auth_client":{"type":"object","required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["auth-client"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/tenants/5b4f337bff4304610483ba67/auth-clients/5b4f337bff4304610483ba67"}}}}}}}}},"meta":{"type":"object","example":"{}"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["status","title","detail"],"properties":{"status":{"type":"integer","example":401},"title":{"type":"string","example":"Error"},"detail":{"type":"string","example":"No authorization header was provided."}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["detail","status","code","title","meta"],"properties":{"status":{"type":"integer","example":403},"title":{"type":"string","example":"Unauthorized"},"detail":{"type":"string","example":"You need a permission to access this resource."},"code":{"type":"integer","example":403},"meta":{"type":"object","example":"{}"}}}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["detail","status","code","title","meta","source"],"properties":{"status":{"type":"integer","example":404},"title":{"type":"string","example":"Resource not found"},"detail":{"type":"string","example":"The resource is not found."},"code":{"type":"integer","example":404},"meta":{"type":"object","example":"{}"},"source":{"type":"object","required":["parameter"],"properties":{"parameter":{"type":"object","required":["id"],"properties":{"id":{"type":"string","example":"resource_id"}}}}}}}}}}}}}}}},"/workspaces/{workspace_id}/secrets/{secret_id}":{"get":{"tags":["auth secrets"],"summary":"Returns the specified auth secret from the defined workspace.","description":"You need `workspaces.auth_secret.get` permission to access this resource","parameters":[{"in":"path","name":"workspace_id","description":"Workspace identifier","required":true,"schema":{"type":"string"}},{"in":"path","name":"secret_id","description":"Auth secret identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"required":["id","type","links","attributes","relationships"],"properties":{"id":{"type":"string","readOnly":true,"example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value: `auth-secret`\n","enum":["auth-secret"]},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/workspaces/5b4f337bff4304610483ba67/secrets/5b4f337bff4304610483ba67"}}},"attributes":{"type":"object","required":["name","state","credentials"],"properties":{"name":{"type":"string","description":"Name of the auth secret","example":"Secret name"},"state":{"type":"string","description":"Auth secret state","enum":["ready","error"]},"credentials":{"type":"object","oneOf":[{"type":"object","required":["access_token"],"properties":{"access_token":{"type":"string","description":"Auth secret access token","example":"<google-access-token>"},"refresh_token":{"type":"string","description":"Auth secret refresh token","example":"<google-refresh-token>"},"expires_in":{"type":"integer","description":"Auth secret expired period. If not specified and `auth-client` is `oauth2` then the value will be taken from `token_expires_in` of linked `auth-client`. The value is set in seconds.","example":60},"additional_params":{"type":"string","description":"Auth secret additional parameters","example":"access_type:offline,prompt:consent"},"scope":{"type":"string","description":"Auth secret scope","example":"https://www.googleapis.com/auth/spreadsheets"},"fields":{"type":"object","description":"If component has OAuthFieldView in component.json you can define additional fields in auth-secret for storing data","properties":{"base_url":{"type":"string","example":"https://example.com"}}}}},{"type":"object","example":"{ \"login\":\"somelogin\", \"key\":\"somekey\"}"}]},"type":{"type":"string","readOnly":true,"example":"oauth2"},"error":{"type":"string","description":"Auth secret error","example":"Auth secret refreshing error"}}},"relationships":{"type":"object","required":["workspace","user","auth_client"],"properties":{"workspace":{"type":"object","readOnly":true,"required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["workspace"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/workspaces/5b4f337bff4304610483ba67"}}}}},"user":{"type":"object","readOnly":true,"required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["user"]}}},"links":{"type":"object","required":["self"],"properties":{"self":{"type":"string","example":"/v2/users/5b4f337bff4304610483ba67"}}}}},"auth_client":{"type":"object","required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["auth-client"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/tenants/5b4f337bff4304610483ba67/auth-clients/5b4f337bff4304610483ba67"}}}}}}}}},"meta":{"type":"object","example":"{}"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["status","title","detail"],"properties":{"status":{"type":"integer","example":401},"title":{"type":"string","example":"Error"},"detail":{"type":"string","example":"No authorization header was provided."}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["detail","status","code","title","meta"],"properties":{"status":{"type":"integer","example":403},"title":{"type":"string","example":"Unauthorized"},"detail":{"type":"string","example":"You need a permission to access this resource."},"code":{"type":"integer","example":403},"meta":{"type":"object","example":"{}"}}}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["detail","status","code","title","meta","source"],"properties":{"status":{"type":"integer","example":404},"title":{"type":"string","example":"Resource not found"},"detail":{"type":"string","example":"The resource is not found."},"code":{"type":"integer","example":404},"meta":{"type":"object","example":"{}"},"source":{"type":"object","required":["parameter"],"properties":{"parameter":{"type":"object","required":["id"],"properties":{"id":{"type":"string","example":"resource_id"}}}}}}}}}}}}}}},"patch":{"tags":["auth secrets"],"summary":"Update the specified auth secret","description":"You need `workspaces.auth_secret.edit` permission to access this resource","parameters":[{"in":"path","name":"workspace_id","description":"Workspace identifier","required":true,"schema":{"type":"string"}},{"in":"path","name":"secret_id","description":"Auth secret identifier","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"object","required":["id","type","attributes"],"properties":{"id":{"type":"string","description":"Auth secret identifier. It has to match the identifier specified in the path.","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value `auth-secret`.","enum":["auth-secret"]},"attributes":{"type":"object","required":["name","state","credentials"],"properties":{"name":{"type":"string","description":"Name of the auth secret","example":"Secret name"},"state":{"type":"string","description":"Auth secret state","enum":["ready","error"]},"credentials":{"type":"object","oneOf":[{"type":"object","required":["access_token"],"properties":{"access_token":{"type":"string","description":"Auth secret access token","example":"<google-access-token>"},"refresh_token":{"type":"string","description":"Auth secret refresh token","example":"<google-refresh-token>"},"expires_in":{"type":"integer","description":"Auth secret expired period. If not specified and `auth-client` is `oauth2` then the value will be taken from `token_expires_in` of linked `auth-client`. The value is set in seconds.","example":60},"additional_params":{"type":"string","description":"Auth secret additional parameters","example":"access_type:offline,prompt:consent"},"scope":{"type":"string","description":"Auth secret scope","example":"https://www.googleapis.com/auth/spreadsheets"},"fields":{"type":"object","description":"If component has OAuthFieldView in component.json you can define additional fields in auth-secret for storing data","properties":{"base_url":{"type":"string","example":"https://example.com"}}}}},{"type":"object","example":"{ \"login\":\"somelogin\", \"key\":\"somekey\"}"}]},"type":{"type":"string","readOnly":true,"example":"oauth2"},"error":{"type":"string","description":"Auth secret error","example":"Auth secret refreshing error"}}}}}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"required":["id","type","links","attributes","relationships"],"properties":{"id":{"type":"string","readOnly":true,"example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value: `auth-secret`\n","enum":["auth-secret"]},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/workspaces/5b4f337bff4304610483ba67/secrets/5b4f337bff4304610483ba67"}}},"attributes":{"type":"object","required":["name","state","credentials"],"properties":{"name":{"type":"string","description":"Name of the auth secret","example":"Secret name"},"state":{"type":"string","description":"Auth secret state","enum":["ready","error"]},"credentials":{"type":"object","oneOf":[{"type":"object","required":["access_token"],"properties":{"access_token":{"type":"string","description":"Auth secret access token","example":"<google-access-token>"},"refresh_token":{"type":"string","description":"Auth secret refresh token","example":"<google-refresh-token>"},"expires_in":{"type":"integer","description":"Auth secret expired period. If not specified and `auth-client` is `oauth2` then the value will be taken from `token_expires_in` of linked `auth-client`. The value is set in seconds.","example":60},"additional_params":{"type":"string","description":"Auth secret additional parameters","example":"access_type:offline,prompt:consent"},"scope":{"type":"string","description":"Auth secret scope","example":"https://www.googleapis.com/auth/spreadsheets"},"fields":{"type":"object","description":"If component has OAuthFieldView in component.json you can define additional fields in auth-secret for storing data","properties":{"base_url":{"type":"string","example":"https://example.com"}}}}},{"type":"object","example":"{ \"login\":\"somelogin\", \"key\":\"somekey\"}"}]},"type":{"type":"string","readOnly":true,"example":"oauth2"},"error":{"type":"string","description":"Auth secret error","example":"Auth secret refreshing error"}}},"relationships":{"type":"object","required":["workspace","user","auth_client"],"properties":{"workspace":{"type":"object","readOnly":true,"required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["workspace"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/workspaces/5b4f337bff4304610483ba67"}}}}},"user":{"type":"object","readOnly":true,"required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["user"]}}},"links":{"type":"object","required":["self"],"properties":{"self":{"type":"string","example":"/v2/users/5b4f337bff4304610483ba67"}}}}},"auth_client":{"type":"object","required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["auth-client"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/tenants/5b4f337bff4304610483ba67/auth-clients/5b4f337bff4304610483ba67"}}}}}}}}},"meta":{"type":"object","example":"{}"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["status","title","detail"],"properties":{"status":{"type":"integer","example":401},"title":{"type":"string","example":"Error"},"detail":{"type":"string","example":"No authorization header was provided."}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["detail","status","code","title","meta"],"properties":{"status":{"type":"integer","example":403},"title":{"type":"string","example":"Unauthorized"},"detail":{"type":"string","example":"You need a permission to access this resource."},"code":{"type":"integer","example":403},"meta":{"type":"object","example":"{}"}}}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["detail","status","code","title","meta","source"],"properties":{"status":{"type":"integer","example":404},"title":{"type":"string","example":"Resource not found"},"detail":{"type":"string","example":"The resource is not found."},"code":{"type":"integer","example":404},"meta":{"type":"object","example":"{}"},"source":{"type":"object","required":["parameter"],"properties":{"parameter":{"type":"object","required":["id"],"properties":{"id":{"type":"string","example":"resource_id"}}}}}}}}}}}}}}},"delete":{"tags":["auth secrets"],"summary":"Remove the specified auth secret.","description":"You need `workspaces.auth_secret.delete` permission to access this resource.\n","parameters":[{"in":"path","name":"workspace_id","description":"Workspace identifier","required":true,"schema":{"type":"string"}},{"in":"path","name":"secret_id","description":"Auth secret identifier","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content","content":{"application/json":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["status","title","detail"],"properties":{"status":{"type":"integer","example":401},"title":{"type":"string","example":"Error"},"detail":{"type":"string","example":"No authorization header was provided."}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["detail","status","code","title","meta"],"properties":{"status":{"type":"integer","example":403},"title":{"type":"string","example":"Unauthorized"},"detail":{"type":"string","example":"You need a permission to access this resource."},"code":{"type":"integer","example":403},"meta":{"type":"object","example":"{}"}}}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["detail","status","code","title","meta","source"],"properties":{"status":{"type":"integer","example":404},"title":{"type":"string","example":"Resource not found"},"detail":{"type":"string","example":"The resource is not found."},"code":{"type":"integer","example":404},"meta":{"type":"object","example":"{}"},"source":{"type":"object","required":["parameter"],"properties":{"parameter":{"type":"object","required":["id"],"properties":{"id":{"type":"string","example":"resource_id"}}}}}}}}}}}}}}}},"/workspaces/{workspace_id}/secrets/{secret_id}/refresh":{"post":{"tags":["auth secrets"],"summary":"Refreshes the specified auth secret manually if it supports this operation.","description":"You need `workspaces.auth_secret.refresh` permission to access this resource","parameters":[{"in":"path","name":"workspace_id","description":"Workspace identifier","required":true,"schema":{"type":"string"}},{"in":"path","name":"secret_id","description":"Auth secret identifier","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"required":["id","type","links","attributes","relationships"],"properties":{"id":{"type":"string","readOnly":true,"example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value: `auth-secret`\n","enum":["auth-secret"]},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/workspaces/5b4f337bff4304610483ba67/secrets/5b4f337bff4304610483ba67"}}},"attributes":{"type":"object","required":["name","state","credentials"],"properties":{"name":{"type":"string","description":"Name of the auth secret","example":"Secret name"},"state":{"type":"string","description":"Auth secret state","enum":["ready","error"]},"credentials":{"type":"object","oneOf":[{"type":"object","required":["access_token"],"properties":{"access_token":{"type":"string","description":"Auth secret access token","example":"<google-access-token>"},"refresh_token":{"type":"string","description":"Auth secret refresh token","example":"<google-refresh-token>"},"expires_in":{"type":"integer","description":"Auth secret expired period. If not specified and `auth-client` is `oauth2` then the value will be taken from `token_expires_in` of linked `auth-client`. The value is set in seconds.","example":60},"additional_params":{"type":"string","description":"Auth secret additional parameters","example":"access_type:offline,prompt:consent"},"scope":{"type":"string","description":"Auth secret scope","example":"https://www.googleapis.com/auth/spreadsheets"},"fields":{"type":"object","description":"If component has OAuthFieldView in component.json you can define additional fields in auth-secret for storing data","properties":{"base_url":{"type":"string","example":"https://example.com"}}}}},{"type":"object","example":"{ \"login\":\"somelogin\", \"key\":\"somekey\"}"}]},"type":{"type":"string","readOnly":true,"example":"oauth2"},"error":{"type":"string","description":"Auth secret error","example":"Auth secret refreshing error"}}},"relationships":{"type":"object","required":["workspace","user","auth_client"],"properties":{"workspace":{"type":"object","readOnly":true,"required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["workspace"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/workspaces/5b4f337bff4304610483ba67"}}}}},"user":{"type":"object","readOnly":true,"required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["user"]}}},"links":{"type":"object","required":["self"],"properties":{"self":{"type":"string","example":"/v2/users/5b4f337bff4304610483ba67"}}}}},"auth_client":{"type":"object","required":["data","links"],"properties":{"data":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["auth-client"]}}},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/tenants/5b4f337bff4304610483ba67/auth-clients/5b4f337bff4304610483ba67"}}}}}}}}},"meta":{"type":"object","example":"{}"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["status","title","detail"],"properties":{"status":{"type":"integer","example":401},"title":{"type":"string","example":"Error"},"detail":{"type":"string","example":"No authorization header was provided."}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["detail","status","code","title","meta"],"properties":{"status":{"type":"integer","example":403},"title":{"type":"string","example":"Unauthorized"},"detail":{"type":"string","example":"You need a permission to access this resource."},"code":{"type":"integer","example":403},"meta":{"type":"object","example":"{}"}}}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["detail","status","code","title","meta","source"],"properties":{"status":{"type":"integer","example":404},"title":{"type":"string","example":"Resource not found"},"detail":{"type":"string","example":"The resource is not found."},"code":{"type":"integer","example":404},"meta":{"type":"object","example":"{}"},"source":{"type":"object","required":["parameter"],"properties":{"parameter":{"type":"object","required":["id"],"properties":{"id":{"type":"string","example":"resource_id"}}}}}}}}}}}}}}}},"/contracts":{"get":{"tags":["contracts"],"summary":"Lists all contracts for a specific user","parameters":[{"name":"page[size]","in":"query","description":"Amount of items per page","schema":{"type":"integer","default":50}},{"in":"query","name":"page[number]","description":"Number of page you want to display","schema":{"type":"integer","default":1}},{"in":"query","name":"search","description":"Search contracts by a word or a phrase contained in a title. Behavior is similar to operator LIKE in SQL. Case insensitive. Leading/following spaces are trimmed","schema":{"type":"string","example":"contractName"}}],"description":"You need to be a member of the Contract’s scope to access this resource.\n\nTo make custom data to be included in a response, a user must have `contracts.contract.get_custom_data` permission.\n","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"type":"array","items":{"required":["id","type","links","attributes","relationships"],"properties":{"id":{"type":"string","readOnly":true,"example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value: `contract`\n","enum":["contract"]},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/contracts/5b4f337bff4304610483ba67"}}},"attributes":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"Name of the contract","example":"Contract name"},"type":{"type":"string","description":"Type of the contract.","enum":["full","trial"]},"created_at":{"type":"string","description":"Shows the creation date of a contract."},"updated_at":{"type":"string","description":"Shows the date of last update made to the contract."},"available_roles":{"type":"array","items":{"type":"object","required":["scope","role"],"properties":{"scope":{"type":"string","description":"The role's scope","enum":["contracts","workspaces"]},"role":{"type":"string","description":"The role's name","example":"admin"}}}},"status":{"type":"string","readOnly":true,"example":"active"},"flow_stats_enabled_default":{"type":"boolean","desription":"To disable input/output message stats set this flow’s `attributes.stats_enabled` flag to `false`","default":true},"support_user_id":{"type":"string","description":"An identifier of user from platform support team","example":"5b4f337bff4304610483ba67"},"custom_data":{"type":"object","description":"Custom contract data in an arbitrary format. This field is **not intended to store sensitive data**. Max size after stringify is 1 MB","example":"{\"description\": \"Contract description\"}"},"feature_flags":{"type":"object","properties":{"disable_recipe_feature":{"type":"boolean","description":"Disable ability to change existing recipes or create new ones","example":true},"subscribe_to_error_by_default":{"type":"boolean","description":"Subscribe to error notifications from flows by default. Default: \"true\"\n","example":true}}}}},"relationships":{"type":"object","readOnly":true,"required":["members","workspaces","invites"],"properties":{"members":{"type":"object","required":["data","links"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["contract-member"]}}}},"links":{"type":"object","required":["self"],"properties":{"self":{"type":"string","example":"/v2/contracts/5b4f337bff4304610483ba67/members"}}}}},"workspaces":{"type":"object","required":["data","links"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["workspace"]}}}}}},"invites":{"type":"object","required":["data","links"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["contract-invite"]}}}},"links":{"type":"object","required":["self"],"properties":{"self":{"type":"string","example":"/v2/contracts/5b4f337bff4304610483ba67/invites"}}}}}}}}}},"meta":{"type":"object","required":["page","per_page","total","total_pages"],"properties":{"page":{"type":"integer","example":2},"per_page":{"type":"integer","example":20},"total":{"type":"integer","example":7},"total_pages":{"type":"integer","example":2}}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["status","title","detail"],"properties":{"status":{"type":"integer","example":401},"title":{"type":"string","example":"Error"},"detail":{"type":"string","example":"No authorization header was provided."}}}}}}}}}}},"post":{"tags":["contracts"],"summary":"Creates a contract","description":"You need to be a user with `TenantAdmin` role to access this resource","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"required":["id","type","links","attributes","relationships"],"properties":{"id":{"type":"string","readOnly":true,"example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value: `contract`\n","enum":["contract"]},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/contracts/5b4f337bff4304610483ba67"}}},"attributes":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"Name of the contract","example":"Contract name"},"type":{"type":"string","description":"Type of the contract.","enum":["full","trial"]},"created_at":{"type":"string","description":"Shows the creation date of a contract."},"updated_at":{"type":"string","description":"Shows the date of last update made to the contract."},"available_roles":{"type":"array","items":{"type":"object","required":["scope","role"],"properties":{"scope":{"type":"string","description":"The role's scope","enum":["contracts","workspaces"]},"role":{"type":"string","description":"The role's name","example":"admin"}}}},"status":{"type":"string","readOnly":true,"example":"active"},"flow_stats_enabled_default":{"type":"boolean","desription":"To disable input/output message stats set this flow’s `attributes.stats_enabled` flag to `false`","default":true},"support_user_id":{"type":"string","description":"An identifier of user from platform support team","example":"5b4f337bff4304610483ba67"},"custom_data":{"type":"object","description":"Custom contract data in an arbitrary format. This field is **not intended to store sensitive data**. Max size after stringify is 1 MB","example":"{\"description\": \"Contract description\"}"},"feature_flags":{"type":"object","properties":{"disable_recipe_feature":{"type":"boolean","description":"Disable ability to change existing recipes or create new ones","example":true},"subscribe_to_error_by_default":{"type":"boolean","description":"Subscribe to error notifications from flows by default. Default: \"true\"\n","example":true}}}}},"relationships":{"type":"object","readOnly":true,"required":["members","workspaces","invites"],"properties":{"members":{"type":"object","required":["data","links"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["contract-member"]}}}},"links":{"type":"object","required":["self"],"properties":{"self":{"type":"string","example":"/v2/contracts/5b4f337bff4304610483ba67/members"}}}}},"workspaces":{"type":"object","required":["data","links"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["workspace"]}}}}}},"invites":{"type":"object","required":["data","links"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["contract-invite"]}}}},"links":{"type":"object","required":["self"],"properties":{"self":{"type":"string","example":"/v2/contracts/5b4f337bff4304610483ba67/invites"}}}}}}}}}}}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","required":["data","meta"],"properties":{"data":{"required":["id","type","links","attributes","relationships"],"properties":{"id":{"type":"string","readOnly":true,"example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"Allowed value: `contract`\n","enum":["contract"]},"links":{"type":"object","readOnly":true,"required":["self"],"properties":{"self":{"type":"string","example":"/v2/contracts/5b4f337bff4304610483ba67"}}},"attributes":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"Name of the contract","example":"Contract name"},"type":{"type":"string","description":"Type of the contract.","enum":["full","trial"]},"created_at":{"type":"string","description":"Shows the creation date of a contract."},"updated_at":{"type":"string","description":"Shows the date of last update made to the contract."},"available_roles":{"type":"array","items":{"type":"object","required":["scope","role"],"properties":{"scope":{"type":"string","description":"The role's scope","enum":["contracts","workspaces"]},"role":{"type":"string","description":"The role's name","example":"admin"}}}},"status":{"type":"string","readOnly":true,"example":"active"},"flow_stats_enabled_default":{"type":"boolean","desription":"To disable input/output message stats set this flow’s `attributes.stats_enabled` flag to `false`","default":true},"support_user_id":{"type":"string","description":"An identifier of user from platform support team","example":"5b4f337bff4304610483ba67"},"custom_data":{"type":"object","description":"Custom contract data in an arbitrary format. This field is **not intended to store sensitive data**. Max size after stringify is 1 MB","example":"{\"description\": \"Contract description\"}"},"feature_flags":{"type":"object","properties":{"disable_recipe_feature":{"type":"boolean","description":"Disable ability to change existing recipes or create new ones","example":true},"subscribe_to_error_by_default":{"type":"boolean","description":"Subscribe to error notifications from flows by default. Default: \"true\"\n","example":true}}}}},"relationships":{"type":"object","readOnly":true,"required":["members","workspaces","invites"],"properties":{"members":{"type":"object","required":["data","links"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["contract-member"]}}}},"links":{"type":"object","required":["self"],"properties":{"self":{"type":"string","example":"/v2/contracts/5b4f337bff4304610483ba67/members"}}}}},"workspaces":{"type":"object","required":["data","links"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["workspace"]}}}}}},"invites":{"type":"object","required":["data","links"],"properties":{"data":{"type":"array","items":{"type":"object","required":["id","type"],"properties":{"id":{"type":"string","example":"5b4f337bff4304610483ba67"},"type":{"type":"string","enum":["contract-invite"]}}}},"links":{"type":"object","required":["self"],"properties":{"self":{"type":"string","example":"/v2/contracts/5b4f337bff4304610483ba67/invites"}}}}}}}}},"meta":{"type":"object","example":"{}"}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["status","title","detail"],"properties":{"status":{"type":"integer","example":401},"title":{"type":"string","example":"Error"},"detail":{"type":"string","example":"No authorization header was provided."}}}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"type":"object","required":["detail","status","code","title","meta"],"properties":{"status":{"type":"integer","example":403},"title":{"type":"string","example":"Unauthorized"},"detail":{"type":"string","example":"You need a permission to access this resource."},"code":{"type":"integer","example":403},"meta":{"type":"object","example":"{}"}}}}}}}}}}}},"/contracts/{contract_id}":{"get":{"tags":["contracts"],"summary":"Returns the specified contract.","description":"You need to be a member of specified contract or a user with `TenantAdmin` role to access this resource.\n\nTo make custom data to be included in a response, a user must have `contracts.contract.get_custom_data` permission.\n","parameters":[{"in":"path","name":"contract_id","description":"Contract identifier","required":true,"schema":{"type":"string"}},{"in":"query","name":"include","description":"Include full resource objects in response for related entities, or not. Possible values: `members` and/or `invites`\n","schema":{"type":"string","enum":["members","invites","members,invites"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","required":["data","meta","included"],"properties":{"data":{"required":["id","type","links","attributes","relationships"],"properties":{"id":{"type":"string","readOnly":true,"example":"5b4f337bff4304610483ba67"},"type":{"type":"string","description":"A
[...]
